<form #registraterForm="ngForm" class="login-form">
    <h4 class="login-title">Please Register</h4>

    <label for="email" class="login-label">Email</label>
    <input type="email" id="email" placeholder="Enter email" ngModel required #email="ngModel" class="login-input" name="email">
    <p class="error-message" [hidden]="email.valid || email.untouched">Enter a correct email</p>

    <label for="password" class="login-label">Password</label>
    <input type="password" id="password" placeholder="Enter password" ngModel required #password="ngModel" minlength="6" class="login-input" class="login-input" name="password">
    <p class="error-message" [hidden]="password.valid || password.untouched">Enter a password</p>

    <hr class="login-divider">

    <button type="button" (click)="register(registraterForm)" class="login-button">Register</button>
    <button type="button" (click)="reset(registraterForm)" class="reset-button">Reset</button>
</form>